<h1>Edit User</h1>

<%= form_for @user do |f| %>
  <p>First Name: <%= f.text_field :first_name %></p>
  <p>Last Name: <%= f.text_field :last_name %></p>
  <p>Username: <%= f.text_field :username %></p>
  <p>Profile Picture: <%= f.text_field :profile_pic %></p>
  <%= f.submit "Save Profile Changes" %>
<% end %>
