<h1>New User Sign-Up</h1>

<%= form_for @user do |f| %>
<div class="form-group">
  <p>First Name: <%= f.text_field :first_name, placeholder: "ex: Edith", class: "form-control" %></p>
</div>
<div class="form-group">
  <p>Last Name: <%= f.text_field :last_name, placeholder: "ex: Piaf", class: "form-control" %></p>
</div>
<div class="form-group">
  <p>Email: <%= f.email_field :username, placeholder: "ex: username@domain.com", class: "form-control" %></p>
</div>
<div class="form-group">
  <p>Password: <%= f.password_field :password, class: "form-control" %></p>
</div>
<div class="form-group">
  <p>Profile Picture: <%= f.text_field :profile_pic, class: "form-control" %></p>
</div>
  <%= f.submit "Sign-up", class: "btn btn-default" %>
<% end %>
