<h1>USER SHOW PAGE</h1>

<h3><%= @user.first_name %> <%=@user.last_name %></h3>
<p>
  <% p @user %>
  Email: <%= @user.username %>
</p>
<img title="profile picture" src="<%= @user.profile_pic %>" ><hr />
<%= link_to "Edit my Profile Information", edit_user_path(@user) %>
