<h1>USER SHOW PAGE</h1>

<h3><%= @user.first_name %> <%=@user.last_name %></h3>
<p>
  <% @user %>
  Email: <%= @user.email %>
</p>
<%= image_tag src="#{ @user.profile_pic}", width:"200px" %><hr />
<%= link_to "Edit my Profile Information", edit_user_path(@user) %>
<p>Join Date: <%= @user.created_at.to_formatted_s(:long_ordinal)  %></p>
