<h2>Posts</h2>

<%= link_to "Add New Post", new_post_path %>

<% @posts.each do |post| %>
  <h3><%= link_to "#{post.title}", post_path(post) %></h3>
    <%= image_tag src="#{post.trip_pic}", width: "200px" %>
  <p><%= post.trip_date %></p>
  <% pic = @users.select do |user| %>
    <% if post.user_id == user.id %>
        <%= image_tag src="#{user.profile_pic}", width:"100px" %><br />
    <% end %>
  <% end %>
  <p><%= post.author %></p>
  <p><%= post.description %></p><hr />
<% end %>
