<h4> Add a New Post </h4>
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :trip_date, placeholder: "Trip Date", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "Description", class: "form-control", autofocus: true %>
  </div>
  <%= f.submit "Save New Post", class: "btn btn-default" %>
<% end %>
