<p id="notice"><%= notice %></p>

<h4><%= @post.title %></h4>
<%= image_tag("#{@post.trip_pic}", width: "400px") %>

<p>Author: <%= link_to "#{@post.author}", user_path(@post.author.split(" ").first) %></p>
<p>Trip Date: <%= @post.trip_date.strftime("%m-%d-%Y") %></p>
<% days_ago = date_subtr(@post.created_at.to_s) %>
<% if days_ago < 1 %>
  <p><%= "Posted: Today" %></p>
<% else %>
  <p><%="Posted: #{days_ago} days ago" %></p>
<% end %><br />
<p>Despcription: <%= @post.description %></p>


<!-- INSERT conditional to show these only if you are the author -->
<% if (current_user != nil && (@post.user_id == current_user.id)) %>
<%= link_to "Edit Post", edit_post_path, class: "btn btn-default" %>
<%= link_to "Delete Post", @post, :method => :delete , class: "btn btn-danger", data: {confirm: "Are you sure you want to delete #{@post.title}?" } %>
<% end %>
<br>

<h2>Comments</h2>
<h4><%= @post.comments.count %> comments</h4>
<hr>

<% @post.comments.each do |comment| %>
  <p><%= link_to "#{comment.commenter}", user_path(comment.commenter) %> says: </p><br />
  <%= comment.body %><br />
  <% if current_user && (current_user.first_name == comment.commenter) %>
    <%= link_to 'Delete Comment', [comment.post, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' },
                 class: "btn btn-danger" %>
    <%= link_to 'Update Comment', edit_post_comment_path(comment.post, comment), class: "btn btn-default" %>
  <% end %>
  <hr>
<% end %>

<% if current_user %>
  <h2>Add a comment:</h2>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="form-group">
      <%= f.label :commenter %><br>
      <%= current_user.first_name %>
      <%= hidden_field(:user, :commenter) %>
    </div>
    <div class="form-group">
      <%= f.label :comment %><br>
      <%= f.text_area :body, class: "form-control"  %>
    </div>
      <%= f.submit "Submit Comment", class: "btn btn-default" %>
  <% end %>
<% end %>
<hr>

<%= link_to "Return Home", root_path %>
