<h1><%= @city.city %></h1>
<h4>State: <%= @city.state %></h4>
<h4>Country: <%= @city.country %></h4>

<div><%= image_tag src="#{@city.photo}", width: "800px" %></div><br>
<%= button_to "Add New Post", new_post_path, action:"new", method: "get", class: "btn btn-default" %>
<hr>

<h2><%= @city.city %> Posts:</h2>

<% @city_posts.each do |cp| %>
  <div>
    <h2><%= link_to "#{cp.title}", post_path(cp) %></h2><br />
    <%= image_tag src="#{cp.trip_pic}", width: "400px" %>
    <p>Author: <%= link_to "#{cp.author}", user_path(cp.author.split(" ").first) %><%= image_tag src="#{@users.find(cp.user_id).profile_pic}", width: "100px", class: "profile_pic" %></p>
    <p>Trip Date: <%= cp.trip_date %></p>
    <% days_ago = date_subtr(cp.created_at.to_s) %>
    <% if days_ago < 1 %>
      <p><%= "Posted: today" %></p>
    <% else %>
      <p><%= "Posted: #{days_ago} days ago" %></p>
    <% end %>
    <p>Description: <%= truncate(cp.description, length: 1000) { link_to "read more", post_path(cp)} %></p>
    <% if current_user && (cp.user_id == current_user.id) %>
      <%= button_to "Edit this Post", edit_post_path(cp), class: "btn btn-default", method: "get", action: "edit"%><br />
      <%= button_to "Delete this Post", "/posts/#{cp.id}", class: "btn btn-danger", method: "delete", action:"destroy", data: {confirm: "Are you sure you want to delete #{cp.title}?"} %>
    <% end %>
    <br />
  </div>
<% end %>

<%= will_paginate @city_posts %>
