<h1>SHOW PAGE</h1>

<h3>City Name: <%= @city.city %></h3>
<h3>State: <%= @city.state %></h3>
<h3>Country: <%= @city.country %></h3><hr />

<% city_posts = @posts.select do |post| %>
  <% post.city_id == @city.id %>
<% end %>

<% city_posts.reverse.each do |cp| %>
<div>
  <%= cp.title %>
  <%= cp.description %>
  <%= cp.created_at %><br />
</div>
<%end %>
