<!DOCTYPE html>
<html>
  <head>
    <title>StepsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?key=[your API key]"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>
  <header>
    <% flash.each do |name, msg| %>
      <strong><%= name.capitalize %>: <%= msg %></strong>
    <% end %>
    <h1><%= link_to 'STEPS', root_path %></h1>
  </header>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li class="active"><%= link_to 'Cities', cities_path %></li>
          <hr>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
            <li><%= link_to "Posts", posts_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="col col-sm-6">
  <body class="container">
    <%= yield %>
  </body>
  </div>
</html>
